= title('Home Page')

.row.spacing-top
	.col.s12
		- if @current_failed.present?
			.card.red.accent-4
				.card-content.white-text.center-align
					There are #{@current_failed.size} errors from last push.
					= link_to 'Click here to view it', errors_report_path, class: 'light-blue-text'


		%table.bordered.responsive-table
			%thead
				%tr
					%th Date
					%th Success Count
					%th Failed Count
			%tbody
				- @runs.each do |run|
					%tr
						%td= run.run_date.strftime("%v %T %z")
						%td= run.run_logs.success_orders.size
						%td= run.run_logs.failed_orders.size
