= title('Show Page')

.row.spacing-top
  .col.s10.offset-s1
    %h3 Run Report
    %small= "Run Date: #{@run.run_date.strftime("%v %R (%Z)")}"
    %br
    %small= "Date Range: #{@run.start_date.in_time_zone('EST').strftime("%v %R (%Z)")} <-> #{@run.end_date.in_time_zone('EST').strftime("%v %R (%Z)")}"
    .row.spacing-top
      .col.m6.col.s12
        .row{:style => "margin-bottom: 0;"}
          .col.s8
            %h5= "Sales Receipts (#{@run.run_logs.sale_receipt.size})"
          .col.s4{:style => "text-align: right;"}
            - if @run.run_logs.sale_receipt.size > 0
              = link_to run_sales_receipt_report_path(@run) do
                %i.small.material-icons{:style => "line-height: 2;"} ic_file_download
            - else
              %i.small.material-icons{:style => "line-height: 2;"} ic_file_download
        %ul.collapsible{"data-collapsible" => "accordion"}
          %li.active
            .collapsible-header.active
              Failures
              = @run.run_logs.sale_receipt.failed_orders.size
            .collapsible-body
              - if @failed_sales_receipt.present?
                %table.bordered.responsive-table
                  %thead
                    %tr
                      %th Magento Order Id
                      %th Error Details

                  %tbody
                    - @failed_sales_receipt.each do |run_log|
                      %tr
                        - if Rails.env.production?
                          %td= link_to run_log.magento_id, "https://truenorthseedbank.com/index.php/admin/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        - else
                          %td= link_to run_log.magento_id, "http://magento-114327-325729.cloudwaysapps.com/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        %td= run_log.message
                = paginate @failed_sales_receipt

          %li
            .collapsible-header
              Successful
              = @run.run_logs.sale_receipt.success_orders.size
            .collapsible-body
              - if @success_sales_receipt.present?
                %table.bordered.responsive-table
                  %thead
                    %tr
                      %th Magento Order Id
                      %th Sale Receipt No.

                  %tbody
                    - @success_sales_receipt.each do |run_log|
                      %tr
                        - if Rails.env.production?
                          %td= link_to run_log.magento_id, "https://truenorthseedbank.com/index.php/admin/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        - else
                          %td= link_to run_log.magento_id, "http://magento-114327-325729.cloudwaysapps.com/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        %td= link_to run_log.doc_number.nil? ? run_log.qbo_id : run_log.doc_number, "https://ca.qbo.intuit.com/app/salesreceipt?txnId=#{run_log.qbo_id}", target: '_blank'
                = paginate @success_sales_receipt
      .col.m6.col.s12
        .row{:style => "margin-bottom: 0;"}
          .col.s8
            %h5= "Refund Receipt (#{@run.run_logs.refund_receipt.size})"
          .col.s4{:style => "text-align: right;"}
            - if @run.run_logs.refund_receipt.size > 0
              = link_to run_credits_memo_report_path(@run) do
                %i.small.material-icons{:style => "line-height: 2;"} ic_file_download
            - else
              %i.small.material-icons{:style => "line-height: 2;"} ic_file_download
        %ul.collapsible{"data-collapsible" => "accordion"}
          %li.active
            .collapsible-header.active
              Failures
              = @run.run_logs.refund_receipt.failed_orders.size
            .collapsible-body
              - if @failed_credits_memo.present?
                %table.bordered.responsive-table
                  %thead
                    %tr
                      %th Magento Order Id
                      %th Error Details

                  %tbody
                    - @failed_credits_memo.each do |run_log|
                      %tr
                        - if Rails.env.production?
                          %td= link_to run_log.magento_id, "https://truenorthseedbank.com/index.php/admin/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        - else
                          %td= link_to run_log.magento_id, "http://magento-114327-325729.cloudwaysapps.com/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        %td= run_log.message
                = paginate @failed_credits_memo

          %li
            .collapsible-header
              Successful
              = @run.run_logs.refund_receipt.success_orders.size
            .collapsible-body
              - if @success_credits_memo.present?
                %table.bordered.responsive-table
                  %thead
                    %tr
                      %th Magento Order Id
                      %th Refund Receipt No.

                  %tbody
                    - @success_credits_memo.each do |run_log|
                      %tr
                        - if Rails.env.production?
                          %td= link_to run_log.magento_id, "https://truenorthseedbank.com/index.php/admin/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        - else
                          %td= link_to run_log.magento_id, "http://magento-114327-325729.cloudwaysapps.com/96admin89x55/sales_order/view/order_id/#{run_log.order_id}/", target: '_blank'
                        %td= link_to run_log.doc_number.nil? ? run_log.qbo_id : run_log.doc_number, "https://ca.qbo.intuit.com/app/refundreceipt?txnId=#{run_log.qbo_id}", target: '_blank'
                = paginate @success_credits_memo
