= simple_form_for :store, url: update_store_store_index_path, method: :put do |f|
  .col.m8.col.s12.offset-m2
    %h5.title.dark-purple-text 
      Exclude Store
    .header-button
      = f.submit 'Save', class: 'btn'
      = link_to('Cancel', root_path, class: 'btn orange')
  .col.m8.col.s12.offset-m2
    %table
      %thead
        %tr
          %th Store Front
          %th Checked
      - @stores.each do |s|
        %tbody
          %tr
            %td= s.name.html_safe
            %td
              = f.input :checked, label: false, as: :boolean, input_html: { name: "store[#{s.id}]", :checked => s.checked ? true : false }
