!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Magento QBO integration"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{:id => "#{controller_name}-#{params[:action]}"}
    - unless Rails.env.production?
      = render 'layouts/warning_message'
    = render 'shared/navigation'
    .container
      = render :partial => 'layouts/message_flash'
      = yield
